$icomoon-font-family: "ico" !default;
$icomoon-font-path: "fonts" !default;

$ico-pdf-icon: "\e90a";
$ico-icon-ucm-pause: "\e900";
$ico-icon-ucm-play: "\e901";
$ico-Trophy: "\e906";
$ico-uniF180: "\f180";
$ico-uniF177: "\f177";
$ico-uniF10F: "\f10f";
$ico-uniF188: "\f188";
$ico-BabyRattle: "\e902";
$ico-HealthBook: "\e903";
$ico-Search: "\e904";
$ico-Shield: "\e905";
$ico-down-caret: "\e908";
$ico-right-caret: "\e90b";
$ico-thin-close: "\e909";
$ico-heart: "\f004";
$ico-heart-o: "\f08a";
$ico-star: "\f005";
$ico-star-o: "\f006";
$ico-star-half: "\f089";
$ico-star-half-empty: "\f123";
$ico-star-half-full: "\f123";
$ico-star-half-o: "\f123";
$ico-clock-o: "\f017";
$ico-print: "\f02f";
$ico-share-square-o: "\f045";
$ico-play: "\f04b";
$ico-calendar: "\f073";
$ico-phone: "\f095";
$ico-clipboard: "\f0ea";
$ico-paste: "\f0ea";
$ico-linkedin-square: "\f08c";
$ico-youtube-play: "\f16a";
$ico-google-plus: "\f0d5";
$ico-facebook: "\f09a";
$ico-facebook-f: "\f09a";
$ico-twitter: "\f099";
$ico-instagram: "\f16d";
$ico-file-o: "\f016";
$ico-road: "\f018";
$ico-headphones: "\f025";
$ico-volume-off: "\f026";
$ico-bold: "\f032";
$ico-italic: "\f033";
$ico-map-marker: "\f041";
$ico-info-circle: "\f05a";
$ico-exclamation-triangle: "\f071";
$ico-warning: "\f071";
$ico-caret-down: "\f0d7";
$ico-caret-up: "\f0d8";
$ico-caret-left: "\f0d9";
$ico-caret-right: "\f0da";
$ico-envelope: "\f0e0";
$ico-user-md: "\f0f0";
$ico-stethoscope: "\f0f1";
$ico-suitcase: "\f0f2";
$ico-angle-left: "\f104";
$ico-angle-right: "\f105";
$ico-angle-up: "\f106";
$ico-angle-down: "\f107";
$ico-desktop: "\f108";
$ico-tablet: "\f10a";
$ico-mobile: "\f10b";
$ico-mobile-phone: "\f10b";
$ico-exclamation: "\f12a";
$ico-chevron-circle-left: "\f137";
$ico-chevron-circle-right: "\f138";
$ico-chevron-circle-up: "\f139";
$ico-chevron-circle-down: "\f13a";
$ico-eur: "\f153";
$ico-euro: "\f153";
$ico-gbp: "\f154";
$ico-dollar: "\f155";
$ico-usd: "\f155";
$ico-address-card: "\f2bb";
$ico-vcard: "\f2bb";
$ico-address-card-o: "\f2bc";
$ico-vcard-o: "\f2bc";
$ico-user-circle: "\f2bd";
$ico-user-circle-o: "\f2be";
$ico-user-o: "\f2c0";
$ico-id-badge: "\f2c1";
$ico-drivers-license: "\f2c2";
$ico-id-card: "\f2c2";
$ico-drivers-license-o: "\f2c3";
$ico-id-card-o: "\f2c3";
$ico-add: "\e145";
$ico-arrow_back: "\e5c4";
$ico-arrow_downward: "\e5db";
$ico-arrow_forward: "\e5c8";
$ico-arrow_upward: "\e5d8";
$ico-av_timer: "\e01b";
$ico-done: "\e876";
$ico-small-caret-up: "\e5ce";
$ico-small-caret-down: "\e5cf";
$ico-format_quote: "\e244";
$ico-play_circle_outline: "\e039";
$ico-remove: "\e15b";
$ico-timer: "\e425";
$ico-error: "\e000";
$ico-error_outline: "\e001";
$ico-close: "\e5cd";
$ico-custom-menu: "\e907";

